<% if (typeof errorMessage !== "undefined") { %>
  <div class="error-message"><%= errorMessage %></div>
<% } %>


<form id="form" action="/posts/<%= postId %>" method="POST" enctype="multipart/form-data">
    <div class="form-group">
      <label for="post">New comment</label>
      <textarea name="content" ></textarea>
    </div>
    <div class="form-group">
      <label for="picture">Profile Pricture</label>
      <input type="file" name="photo">
    </div>

    <input type="submit" name="Create new comment">
  </form>
