<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Welcome to IronTumblr</h1>
    <div class="user-panel">
    <% if(user != null){ %>
      <h3>Hello <%= user.username %></h3>
      <a href="/profile">profile</a>
      <a href="/posts">posts feed</a>
      <a href="/posts/new">new post</a>
      <a href="/logout">logout</a>

    <% } else { %>
      <h3>hello anonymous</h3>
      <a href="/posts">posts feed</a>
      <a href="/login">login</a>
      <a href="/signup">signup</a>
    <% } %>
    </div>

  </body>
</html>
