<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>IronTumblr</title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="/js_components/jquery.min.js" type="text/javascript"></script>
  </head>
  <body>
    <div class="main-container">
      <%- body -%>
    </div>
    <!--script src="/javascripts/reward-donate.js"></script-->
    <script src="/js_components/bootstrap.min.js" type="text/javascript"></script>
  </body>
</html>
